/* ---------------->> 表格 <<---------------- */
figure.md-table-fig.table-figure {
    border: 0;
    box-shadow: var(--box-shadow);
    border-radius: var(--radius-large);
}

/* ---------------->> 表格调节组件 <<---------------- */
.ty-table-edit {
    border-radius: var(--radius-large);
    background-color: var(--mica-bg) !important;
    backdrop-filter: var(--mica-blur);
    border: var(--mica-border);
    box-shadow: var(--box-shadow);
    transition: var(--mica-transition);
    z-index: 999;
}

/* 删除表格按钮 */
.ty-delete:before {
    color: var(--main-red);
}

/* ---------------->> 表格行列调整控件 <<---------------- */
.popover.bottom.md-table-resize-popover {
    width: fit-content;
}

#write td.md-reset {
    border: 0;
    padding: 0 !important;
}

.md-grid-board a {
    border: 0;
}

tr.md-reset {
    background: var(--theme-light-color) !important;
}

td.md-reset.md-grid-ext>a {
    margin: 0;
    padding: 0;
}

/* ---------------->> 表格行 <<---------------- */
#write table tr {
    background-color: var(--theme-light-color);
    border: 0;
}

/* ---------------->> 斑马纹 <<---------------- */
#write table tr:nth-child(2n) {
    background-color: var(--bg-color);
}

#write table tr td,
#write table tr th {
    border: 0.5px solid var(--tb-border-color);
    font-size: .9rem;
    line-height: 1.5;
    padding: 5px 10px;
}

/* ---------------->> 表头 <<---------------- */
#write table tr th {
    background-color: #42a5f53d;
    color: var(--theme-color);
    font-weight: 700
}